body {
    background-image: url("../background.png");
    background-size: 100%;
}

.bar {
    position: relative;
    background-color: #070707;
}

nav.img.mentok {
    float: left;
    margin: 3px;
}

ul li .beda {
    display: block;
    font-family: "Lucida Sans";
    color: #FFF;
    text-decoration: none;
    padding: 0px 0px;
    position: relative;
    right: 600px;
    font-size: 20px;
}

ul li .sejar {
    color: #e59226;
}

ul {
    float: right;
    list-style: none;
    font-size: 20px;
}

ul li {
    text-align: center;
    float: left;
}

ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding: 0px 30px;
    position: relative;
}

ul li a:hover {
    background-color: blue;
    color: #070707;
}

.container{
    background-color: rgba(0, 0, 0, 0.253);
    width: 98vw;
    height: 75vh;
    position: relative;
    top: 100px;
}

.barkanan {
    width: 500px;
    float: left;
}

.tulisan {
    color: white;
    font-size: 23px;
    width: 600px;
    float: left;
    padding: 15px;
    position: relative;
    left: 100px;
    top: 60px;

}

.gambar {
    position: absolute;
    width: 100px;
    float: left;
}

.img1 {
    position: relative;
    width: 150px;
    height: 150px;
    bottom: 0px;
}

.img2 {
    position: relative;
    width: 150px;
    height: 150px;
}

.img3 {
    position: relative;
    width: 300px;
    height: 300px;
}

table {
    position: relative;
    margin-left: 100px;
    margin-top: 100px;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
}
