body{
    font-family: Cambria ;
    background-image: url("back1.png");
    background-size: 100%;  
}

.tulisan{ 
    font-style: bold ;
    color : white;
    font-family: sans-serif;
    text-align: center;
    height: 100;
    text-shadow: 2px 2px 4px #000000;
}

.barSamping{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    inline-size: 10px;
    color: white;

}