body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'PT Sans';
    text-align: center;
    height: 30px;
    font-size: 35px;
    color : #f5dfdf;
    text-shadow: 2px 2px 4px #000000;
}

.border {
    border-style: unset;
    border-radius: 5px;
}

.bar {
    padding: 10px 25px 25px 20px;
    margin-top: 130px;
}

.input {
    width: 300px;
    padding: 5px;
    height: 30px;
    margin: 15px;
    box-shadow: 0 0 10px 0 rgb(226, 226, 226);  
}

.button {
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    border-style: none;
    width: 200px;
    height: 20px;
    margin-left: 45px;
    padding: 35px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.background {
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("gambar.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.Backwhite {
    background-color: white;
}

.Backgreen {
    background-color: green;
}

.white {
    color: white;
    font-size: large;
    font-weight: lighter; 
}

.red {
    color: rgb(230, 16, 58);
    font-family: Cambria;
    font-size: 20px;

}
