body {
    background: url("../img/Destinasibg.png");
    background-size: 100%;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-left: 280px;
    font-size: 50;
    font-family: 'Lucida Sans';
}

.box {background-color: #707070;
    position: relative;
    right: -730px;
    bottom: 85px;
    margin-right: 100px auto;
    border: 4px;
    width: 300px;
    height: 42px;
}

.input {
    background-color: #707070;
    outline: none;
    height: 40px;
    width: 300px;
    border: 0;
    font-size: 20px;
}

:placeholder-shown {
    color: white;
}

.cari {float:right;
    position: relative;
    top: -30px;
    right: 5px;
    background-color: #707070;
}

h2 {margin-left: 600px;
    color: #E59226;
    font-size: 50;
    font-family: 'Playbill';
    margin-bottom: -10px;
}

.gambar1,.gambar2{position: relative;
    right: -200px;
    border-radius: 30px;
    float: left;
}


.bawah {margin-top: 50px;
    margin-bottom: 100px;
}

p {margin-left: 600px;
    color: white;
    width: 480px;
    height: 50px;
}

.submit {position: relative;
    right: -400px;
    background-color: #E59226;
    color: white;
    font-family: 'League Gothic';
    width: 250;
    height: 35;
    margin: 30;
    margin-left: 20;
    font-weight: bold;
    border-color: #E59226;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
}

.button {font-family: 'League Gothic';
    margin-left: 180px;
}

.button1,
.button3 {
    background-color: black;
    color: white;
    width: 150;
    height: 40;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
}


.button2 {
    background-color: black;
    color: white;
    width: 40;
    height: 40;
    border-radius: 50px;
    display: inline-block;
}