body {
    background-image: url("../background.png");
    background-size: 100%;
}

.bar {
    position: absolute;
    background-color: #070707;
    width: 99%;
    height: 12%;
    top: 0px;
}

.nav .logo {
    width: 5%;
    height: 5%;
    position: relative;
    right: 440px;
    bottom: 13px;
    border-radius: 50%;
    border-color: black;
}

ul {
    float: right;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

ul li {
    text-align: center;
    float: left;
}

ul li a {
    display: inline-flex;
    color: #FFF;
    text-decoration: none;
    position: relative;
    top: 8px;
}

ul li a:hover {
    background-color: #e59226;
    color: white;
}

ul li .beda {
    position: relative;
    left: 65px;
    display: inline-flex;
    font-family: "Vivaldi";
    color: #FFF;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

.beranda {
    position: relative;
    left: 730px;
}

.tips {
    position: relative;
    left: 760px;
}

.sejarah {
    position: relative;
    left: 790px;
}

.kontak {
    position: relative;
    left: 820px;
    color: #e59226;
    text-decoration: underline;
}


.container {
    background-color: rgba(0, 0, 0, 0.466);
    width: 99vw;
    height: 75vh;
    position: relative;
    top: 100px;
}

h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
    font-size: 55px;
}

form {
    position: relative;
}

.img1,
.img2,
.img3,
.img4 {
    width: 40px;
    height: 40px;
    float: left;
}

table {
    position: relative;
    left: 530px;

}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    color: white;
    font-size: 25px;
    padding: 5px;
}
